
.dashboard-overview {
  padding: 10px;
  .row-dashboard {
    border-radius: 10px;
    background: rgb(0,209,255);
    background: linear-gradient(45deg, rgba(0,209,255,1) 42%, rgba(0,217,139,1) 100%);
    padding: 20px;

    .ant-col {
      margin: 10px;
      min-width: 488px;

      .dashboard-card {
        height: 100%;
  
        .dashboard-card-meta {
          span {
            background-color: #FF67B9;
          }
        }
      }
    }

  }
}

.dashboard-card:hover {
  .dashboard-card-meta {
    .ant-card-meta-detail {
      .ant-card-meta-title {
        color: #FF67B9 !important;
      }
    }
  }
}

div.ant-typography, .ant-typography p {
  text-wrap: wrap;
  color: #FF67B9;
}

.ant-typography {
  padding: 5px 10px 0px 10px;
}

.ant-tag {
  border-radius: 10px;
  margin: 20px 10px 20px 0;
}

.device-card {
  margin: 20px;
  border: none;
  background: rgba(0,0,0,0.03);
}

@media (max-width: 992px) {
  .responsive-bt {
    font-size: 0px !important;
    padding: 0 !important;
    width: 50px !important;
    border-radius: 8px !important;
  }
  .responsive-text {
    font-size: 15px !important;
  }
  .responsive-bt span svg {
    font-size: 20px !important;
    width: 50px !important;
  }

  .responsive-bt {
    span {
      svg {
        margin-top: 4px !important;
      }
    }
  }

  .dashboard-overview {
    .row-dashboard {
      padding: 5px;
      .ant-col {
        margin: 10px;
        min-width: 300px;
      }
  
    }
  }
}