@media screen and (max-width: 500px) {
  .responsive-bt {
    font-size: 0px !important;
    padding: 0 !important;
    width: 50px !important;
    height: 40px !important;
    border-radius: 8px !important;
  }
  .responsive-text {
    font-size: 15px !important;
  }
  .responsive-bt span svg {
    font-size: 20px !important;
    width: 50px !important;
  }
}