.ant-layout-content {
  border-radius: 20px;
  margin: 24px 16px;
  padding: 24px;
  background: #fff;
  min-height: 280px;
}

.ant-layout-sider-children {
  img {
    height: 60px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
}

#toggle {
  margin: 0;
  padding: 0;
}
#avatar {
  margin-left: auto;
}

#avatar.ant-menu-item-selected::after {
  border-bottom: 2px solid rgb(201, 83, 201);
}

#toggle.ant-menu-item-selected::after {
  border-bottom: 2px solid transparent;
}

.site-layout-content {
  min-height: 280px;
  padding: 24px;
  background: #fff;
}
#components-layout-demo-top .logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: rgba(255, 255, 255, 0.3);
}
.ant-row-rtl #components-layout-demo-top .logo {
  float: right;
  margin: 16px 0 16px 24px;
}

[data-theme="dark"] .site-layout-content {
  background: #141414;
}

.ant-layout-sider-dark {
  flex: 0 0 250px !important;
  max-width: 250px !important;
  min-width: 250px !important;
  width: 250px !important;
  position: absolute;
  z-index: 999;
  height: 100%;
}

#app {
  position: relative;
}

.ant-layout-sider-collapsed {
  flex: 0 0 50px !important;
  max-width: 50px !important;
  min-width: 0px !important;
  width: 0px !important;
}
#components-layout-demo-custom-trigger .trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}

#components-layout-demo-custom-trigger .trigger:hover {
  color: #1890ff;
}

#components-layout-demo-custom-trigger .logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.3);
  margin: 16px;
}

.site-layout .site-layout-background {
  background: #fff;
}

.sidebar-mobile {
  background-color: rgba(255, 255, 255, 0) !important;
}

@media (min-width: 992px) {
  #app {
    position: relative;
  }

  .ant-layout-sider-collapsed {
    flex: 0 0 50px !important;
    max-width: 50px !important;
    min-width: 50px !important;
    width: 50px !important;
  }

  .ant-layout-sider-dark {
    position: initial;
    z-index: 999;
    height: auto;
  }

  .sidebar-mobile {
    visibility: hidden;
  }
}