@media screen and (max-width: 500px) {
  .responsive-bt {
    font-size: 0px !important;
    padding: 0 !important;
    width: 50px !important;
    border-radius: 8px !important;
  }
  .responsive-text {
    font-size: 15px !important;
  }
  .responsive-bt span svg {
    font-size: 20px !important;
    width: 50px !important;
  }

  .responsive-bt {
    span {
      svg {
        margin-top: 4px !important;
      }
    }
  }

  .ant-card-body {
    padding: 10px;
  }
  
  .ant-col {
    padding: 10px 0 10px 0;
  }
}
.ant-col {
  padding: 10px;
}

.ant-card-bordered {
  border-radius: 15px
}

.tox-notification, .tox-statusbar__branding { display: none !important }

.swal2-popup {
  border-radius: 10px;
}

.swal2-cancel {
  border-radius: 20px !important;
}

.swal2-cancel:hover {
  transform: scale(1.02);
  transition: all 0.15s linear;
}

// Button Color
// ####################################################
.ant-btn, .swal2-confirm {
  border-radius: 20px !important;
  background: linear-gradient(45deg, rgba(0,148,181,1) 42%, rgba(0,148,95,1) 100%) !important;
  border: none;
}

.ant-btn:hover, .swal2-confirm:hover {
  background: linear-gradient(-45deg, rgba(0,148,181,1) 42%, rgba(0,148,95,1) 100%) !important;
  transform: scale(1.02);
  transition: all 0.15s linear;
}

.ant-btn:focus, .swal2-confirm:focus {
  background: linear-gradient(45deg, rgba(0,148,181,1) 42%, rgba(0,148,95,1) 100%) !important;
}

.ant-btn-dangerous, .ant-btn-dangerous:hover, .ant-btn-dangerous:focus {
  background: red !important;
}
// ####################################################

// Transfer 
// ####################################################
.transfer-form {
  .ant-form-item-control {
    .ant-form-item-control-input {
      .ant-form-item-control-input-content {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}

@media (max-width: 720px) {
  .ant-transfer {
    flex-direction: column;

    .ant-transfer-operation {
      margin: 10px
    }
  }
}
// ####################################################